{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    ["module-resolver", {
      "root": ["./app"],
      "alias": {
        "actions": "./app/redux/actions",
        "components": "./app/components",
        "hooks": "./app/hooks",
        "reducers": "./app/redux/reducers",
        "store": "./app/redux/store",
        "models": "./app/models"
      }
    }],
    "@babel/plugin-transform-runtime",
    "babel-plugin-styled-components"
  ],
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  }
}
